## Heart disease prediction using SVM

In [39]:
import numpy as  np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import svm
from sklearn.metrics import accuracy_score

In [5]:
heart_data=pd.read_csv("heart.csv")
heart_data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [7]:
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [10]:
heart_data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

In [12]:
X=heart_data.drop(columns='target',axis=1)
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [13]:
Y=heart_data['target']
Y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [14]:
##Standardize the data
scaler=StandardScaler()

In [15]:
scaler.fit(X)

StandardScaler()

In [16]:
standard_data_heart=scaler.transform(X)

In [17]:
standard_data_heart

array([[ 0.9521966 ,  0.68100522,  1.97312292, ..., -2.27457861,
        -0.71442887, -2.14887271],
       [-1.91531289,  0.68100522,  1.00257707, ..., -2.27457861,
        -0.71442887, -0.51292188],
       [-1.47415758, -1.46841752,  0.03203122, ...,  0.97635214,
        -0.71442887, -0.51292188],
       ...,
       [ 1.50364073,  0.68100522, -0.93851463, ..., -0.64911323,
         1.24459328,  1.12302895],
       [ 0.29046364,  0.68100522, -0.93851463, ..., -0.64911323,
         0.26508221,  1.12302895],
       [ 0.29046364, -1.46841752,  0.03203122, ..., -0.64911323,
         0.26508221, -0.51292188]])

In [18]:
X=standard_data_heart
Y=heart_data['target']

In [25]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,stratify=Y,test_size=0.3,random_state=1)

In [26]:
print(X.shape,X_train.shape,X_test.shape)

(303, 13) (212, 13) (91, 13)

In [27]:
print(Y.shape,Y_train.shape,Y_test.shape)

(303,) (212,) (91,)

In [28]:
classifier=svm.SVC(kernel='linear')

In [29]:
classifier.fit(X_train,Y_train)

SVC(kernel='linear')

In [30]:
X_train_prediction=classifier.predict(X_train)
train_accuracy=accuracy_score(X_train_prediction,Y_train)

In [31]:
print("Accuracy score of training model :",train_accuracy)

Accuracy score of training model : 0.8537735849056604

In [32]:
X_test_prediction=classifier.predict(X_test)
test_accuracy=accuracy_score(X_test_prediction,Y_test)

In [33]:
print("Accuracy score of test model :",test_accuracy)

Accuracy score of test model : 0.8461538461538461

In [34]:
input_data=[61,1,0,140,207,0,0,138,1,1.9,2,1,3]
numpy_array=np.asarray(input_data)
numpy_array

array([ 61. ,   1. ,   0. , 140. , 207. ,   0. ,   0. , 138. ,   1. ,
         1.9,   2. ,   1. ,   3. ])

In [35]:
reshaped=numpy_array.reshape(1,-1)

In [36]:
reshaped

array([[ 61. ,   1. ,   0. , 140. , 207. ,   0. ,   0. , 138. ,   1. ,
          1.9,   2. ,   1. ,   3. ]])

In [37]:
standard_array=scaler.transform(reshaped)

In [38]:
prediction=classifier.predict(standard_array)
print(prediction)
if prediction[0] == 0:
    print("No heart disease")
else:
    print("Have heart ")

[0]
No heart disease